<%- include('../partials/head', {title: 'Compra exitosa'})%>
    <link rel="stylesheet" href="/stylesheets/carrito.css">

    <body>
        <%- include('../partials/header')%>
            <main class="contenedor">
                <h1 class="titulo-seccion">Compra finalizada</h1>
                <section class="usuario-menu">
                    <div>
                        <% if(typeof usuario != "undefined"){ %>
                            <span class="menu">
                                <a href="" id="loginAccess">
                                    <i class="fas fa-user"></i>
                                    <%= usuario.first_name%>
                                </a>
                                <ul class="submenu">
                                    <li>
                                        <a href="/users/profile">
                                            <hr>mi perfil</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <hr>cerrar sesión</a>
                                    </li>
                                </ul>
                            </span>
                    </div>
                    <%}%>
                </section>
                <h2 class="mensaje">
                    <%= usuario.first_name %>, muchas gracias por tu compra!</h2>


            </main>
            <%- include('../partials/footer')%>
    </body>

    </html>