<%- include('../partials/head', {title: 'Detalle de producto'})%>
    <link rel="stylesheet" href="/stylesheets/tienda.css">

    <body>
        <%- include('../partials/header')%>
            <main>
                <div class="contenedor">
                    <!-- ENCABEZADO SECCION -->
                    <section class="buscador-filtro-login">
                        <div class="buscador-filtro">
                            <form action="">
                                <input type="search"><i class="fas fa-search"></i>
                            </form>
                            <img src="/img/icon-filter.svg" alt="icono-filtrar">
                        </div>
                        <a href="/loginRegister">login</a>
                    </section>
                    <div class="volver-ruta">
                        <a href="/" class="volver">
                            <i class="fas fa-angle-left"></i> volver
                        </a>
                        <div class="ruta">
                            <ul>
                                <a href="" id="linea">
                                    <li>>
                                        <%= productSelected.line %>
                                    </li>
                                </a>
                                <a href="" id="varietal">
                                    <li>>
                                        <%= productSelected.varietal %>
                                    </li>
                                </a>
                                <a href="" id="categoria">
                                    <li>>
                                        <%= productSelected.quality %>
                                    </li>
                                </a>
                                <a href="" id="anio">
                                    <li>>
                                        <%= productSelected.vintage %>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>

                    <!-- PRODUCTO -->

                    <section class="detalle-prod">
                        <!-- producto -->
                        <article class="img-desc">
                            <img src="/img/products/<%= productSelected.image %>" alt="vino">
                            <p class="descuento">
                                <% if(productSelected.discount != 0){ %>
                                    <%= productSelected.discount + "%" %>
                                        <% } %>
                            </p>
                        </article>
                        <article class="prod-items">
                            <h6 class="categoria">
                                <%= productSelected.category %>
                            </h6>
                            <p class="descripcion">
                                <%= productSelected.line + ' ' + productSelected.varietal + ' ' + productSelected.quality + ' ' + productSelected.vintage + ' ' + productSelected.display  %>
                            </p>
                            <div class="menosMas">
                                <i class="fas fa-minus-circle"></i>
                                <p class="cantidad">1</p>
                                <i class="fas fa-plus-circle"></i>
                            </div>
                            <div class="precio">
                                <h5 class="antes">
                                    <% if(productSelected.discount != 0){ %>
                                        <%= "$"+ productSelected.price %>
                                            <% } %>
                                </h5>
                                <h5 class="ahora">
                                    <%= '$'+ toThousand(productSelected.price - (productSelected.price * (productSelected.discount / 100)))+ '-' %>
                                </h5>
                            </div>
                            <button class="btn-relleno">Agregar</button>
                        </article>
                        <!-- detalle -->
                        <article class="detalle-info">
                            <div class="etiq-detalle_info border-bottom">
                                <ul>
                                    <a href="" class="visible">
                                        <li>Descripción</li>
                                    </a>
                                    <a href="">
                                        <li>Información adicional</li>
                                    </a>
                                </ul>
                            </div>
                            <div class="detalle">
                                <h5>NOTAS DE CATA</h5>
                                <p>
                                    <%= productSelected.tasting %>
                                </p>
                                <h5>MARIDAJE</h5>
                                <p>
                                    <%= productSelected.pairing %>
                                </p>
                                <h5>TEMPERATURA</h5>
                                <p>
                                    <%= productSelected.temperature + 'ºC' %>
                                </p>
                                <a href="<%= productSelected.datasheet %>" download class="btn-border-max">FICHA TÉCNICA</a>
                            </div>
                            <div class="info-adic">
                                <ul>
                                    <li>
                                        <h5>PESO</h5>
                                        <p>8,85kg</p>
                                    </li>
                                    <li>
                                        <h5>DIMENSIONES</h5>
                                        <p>23.5 × 15.6 × 31.5 cm</p>
                                    </li>
                                    <li>
                                        <h5>ENÓLOGA</h5>
                                        <p>Mariángel Blanco</p>
                                    </li>
                                    <li>
                                        <h5>REGIÓN</h5>
                                        <p>Luján de Cuyo. Mendoza</p>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </section>
                </div>

                <!-- similares -->
                <section class="prod-similares">
                    <div class="contenedor">
                        <h3 class="subtitulo-seccion">PRODUCTOS SIMILARES</h3>
                        <div class="slider-similares">
                            <article class="producto ">
                                <a href="/productDetail">
                                    <div class="img-desc">
                                        <img src="/img/img-tinto.png" alt="vino">
                                        <!-- <p class="descuento">-20%</p> -->
                                    </div>
                                    <div class="prod-items">
                                        <h6 class="categoria">TINTO</h6>
                                        <p class="descripcion">LÍNEA A Malbec Reserva 2017. Caja x 6unid.</p>
                                        <div class="menosMas">
                                            <i class="fas fa-minus-circle"></i>
                                            <p class="cantidad">1</p>
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                        <div class="precio">
                                            <!-- <h5 class="antes">$3.600</h5> -->
                                            <h5 class="ahora">$3.600-</h5>
                                        </div>
                                        <button class="btn-relleno">Agregar</button>
                                    </div>
                                </a>
                            </article>
                            <article class="producto prod-2">
                                <a href="/productDetail">
                                    <div class="img-desc">
                                        <img src="/img/img-tinto.png" alt="vino">
                                        <!-- <p class="descuento">-20%</p> -->
                                    </div>
                                    <div class="prod-items">
                                        <h6 class="categoria">TINTO</h6>
                                        <p class="descripcion">LÍNEA A Bonarda Reserva 2018. Caja x 6unid.</p>
                                        <div class="menosMas">
                                            <i class="fas fa-minus-circle"></i>
                                            <p class="cantidad">1</p>
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                        <div class="precio">
                                            <!-- <h5 class="antes">$3.600</h5> -->
                                            <h5 class="ahora">$3.350-</h5>
                                        </div>
                                        <button class="btn-relleno">Agregar</button>
                                    </div>
                                </a>
                            </article>
                            <article class="producto prod-3">
                                <a href="/productDetail">
                                    <div class="img-desc">
                                        <img src="/img/img-tinto.png" alt="vino">
                                        <p class="descuento">-20%</p>
                                    </div>
                                    <div class="prod-items">
                                        <h6 class="categoria">TINTO</h6>
                                        <p class="descripcion">LÍNEA A Blend Reserva 2016. Caja x 6unid.</p>
                                        <div class="menosMas">
                                            <i class="fas fa-minus-circle"></i>
                                            <p class="cantidad">1</p>
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                        <div class="precio">
                                            <h5 class="antes">$3.600</h5>
                                            <h5 class="ahora">$2.880-</h5>
                                        </div>
                                        <button class="btn-relleno">Agregar</button>
                                    </div>
                                </a>
                            </article>
                            <div class="cont-flechas">
                                <div class="flechas">
                                    <i class="fas fa-angle-left"></i>
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer')%>
    </body>

    </html>