<%- include('../partials/head', {title: 'Editando producto ID '+productToEdit.id})%>
    <link rel='stylesheet' href='/stylesheets/register.css'>
    <link rel="stylesheet" href="/stylesheets/footer.css">


    <body class="fondoBeige">

        <%- include('../partials/header-admin')%>

            <main>
                <section class="contenedor">
                    <h1 class="titulo-seccion">EDITAR PRODUCTO</h1>
                    <h3>Producto Id:
                        <%= productToEdit.id %>
                    </h3>
                    <form class="formLogin" action="/products/edit/<%= productToEdit.id %>" method="POST" enctype="multipart/form-data">
                        <div class="labelInput">
                            <label for="category">Categoría *</label>
                            <select name="category" id="category">
                                <% for(let i = 0; i< categories.length; i++){ %>
                                    <% if(categories[i].id == productToEdit.cat_id ) { %>
                                    <option value="<% categories[i].id%>" selected>
                                        <% categories[i].name %>
                                    </option> 
                                    <%} else {%>
                                        <option value="<% categories[i].id%>">
                                            <% categories[i].name %>
                                        </option> 
                                    <% }}%>                       
                            </select>
                        </div>
                        <div class="labelInput">
                            <label for="line">Línea *</label>
                            <select name="line" id="line">
                                <% for(let i = 0; i< lines.length; i++){ %>
                                    <% if(lines[i].id == productToEdit.line_id ) { %>
                                    <option value="<% lines[i].id%>" selected>
                                        <% lines[i].name %>
                                    </option> 
                                    <%} else {%>
                                        <option value="<% lines[i].id%>">
                                            <% lines[i].name %>
                                        </option> 
                                    <% }}%>
                            </select>
                        </div>
                        <div class="labelInput">
                            <label for="varietal">Varietal *</label>
                            <select name="varietal" id="varietal">
                                <% for(let i = 0; i< varietals.length; i++){ %>
                                    <% if(varietals[i].id == productToEdit.varietal_id ) { %>
                                    <option value="<% varietals[i].id%>" selected>
                                        <% varietals[i].name %>
                                    </option> 
                                <%} else {%>
                                    <option value="<% varietals[i].id%>">
                                        <% varietals[i].name %>
                                    </option> 
                                <% }}%>
                            </select>
                        </div>
                        <div class="labelInput">
                            <label for="quality">Calidad *</label>
                            <select name="quality" id="quality">
                        <option value=" <%= productToEdit.quality %>"> <%= productToEdit.quality %></option>
                        <option value="Clásico">Clásico</option>
                        <option value="Reserva">Reserva</option>
                        <option value="Brut">Brut</option>
                        <option value="Extra-brut">Extra Brut</option>              
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="vintage">Añada *</label>
                            <input type="text" name="vintage" id="vintage" required value="<%= productToEdit.vintage %>">
                        </div>
                        <div class="labelInput">
                            <label for="display">Presentación *</label>
                            <select name="display" id="display">
                                <% for(let i = 0; i< displays.length; i++){ %>
                                    <% if(displays[i].id == productToEdit.display_id ) { %>
                                    <option value="<% displays[i].id%>" selected>
                                        <% displays[i].name %>
                                    </option> 
                                <%} else {%>
                                    <option value="<% displays[i].id%>">
                                        <% displays[i].name %>
                                    </option> 
                                <% }}%>
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="price">Precio *</label>
                            <input type="text" name="price" id="price" value="<%= productToEdit.price %>" required>
                        </div>
                        <div class="labelInput">
                            <label for="discount">Descuento *</label>
                            <input type="text" name="discount" id="discount" value="<%= productToEdit.discount %>" required>
                        </div>
                        <div class="labelInput">
                            <label for="tasting">Notas de Cata *</label>
                            <textarea name="tasting" id="tasting" required><%= productToEdit.tasting %></textarea>
                        </div>
                        <div class="labelInput">
                            <label for="pairing">Maridaje *</label>
                            <textarea name="pairing" id="pairing" required><%= productToEdit.pairing %></textarea>
                        </div>
                        <div class="labelInput">
                            <label for="temperature">Temperatura *</label>
                            <select name="temperature" id="temperature">
                                <% for(let i = 0; i< temperatures.length; i++){ %>
                                    <% if(temperatures[i].id == productToEdit.temperature_id ) { %>
                                    <option value="<% temperatures[i].id%>" selected>
                                        <% temperatures[i].value %>
                                    </option> 
                                <%} else {%>
                                    <option value="<% temperatures[i].id%>">
                                        <% temperatures[i].value %>
                                    </option> 
                                <% }}%>
                    </select>
                        </div>
                        <div class="labelInput">
                            <label for="image">Imagen *</label>
                            <input type="file" name="image" id="image" value="<%= productToEdit.image %>">
                            <%= productToEdit.image %>"
                        </div>
                        <div class="labelInput">
                            <label for="datasheet">Ficha Técnica *</label>
                            <input type="file" name="datasheet" id="datasheet" value="<%= productToEdit.datasheet %>">
                            <%= productToEdit.datasheet %>
                        </div>
                        <div class="labelInput">
                            <button type="submit" id="editar-prod" class="btn-border">guardar edición</button>
                            <a href="/products/list" class="btn-border">descartar edición</a>
                        </div>
                    </form>
                </section>
            </main>

            <footer>
            </footer>

    </body>

    </html>