<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title: 'Linea'}) %>
    <link rel="stylesheet" href="/stylesheets/tienda.css">
    <link rel="stylesheet" href="/stylesheets/carrito.css">
    <script src="/javascript/quantity_front.js"></script>
    <script src="/javascript/discount_front.js"></script>

    <body>

        <%- include('../partials/header')%>
            <main class="contenedor">
                <h1 class="titulo-seccion"><%=brand%></h1>
                <% if (typeof message != "undefined"){%>
                    <div class="mensaje">
                        <h2>
                            <%= message %>
                        </h2>
                        <a href="/"><button class="btn-border-max" > << volver a la Tienda</button></a>
                    </div>
                    <%}else{%>
                        <div class="volver-ruta">
                            <a href="/" class="volver">
                                <i class="fas fa-angle-left"></i> volver
                            </a>
                        </div>
                        <section class="contenedor prod-destacados">
                            <% if (productsLine != undefined){
                            for (var i= 0; i< productsLine.length; i++) { 
                                var product = productsLine[i];
                        %>
                                <article class="producto border-bottom">
                                    <a href="/products/detail/<%= product.id %>">
                                        <div class="img-desc">
                                            <img src="/img/products/<%= product.image %>" alt="vino">
                                            <p class="descuento">
                                                <% if(product.discount != 0){ %>
                                                    <%= product.discount + "%" %>
                                                        <% } %>
                                            </p>
                                        </div>
                                        <div class="prod-items">
                                            <h6 class="categoria">
                                                <%= product.categories.name %>
                                            </h6>
                                            <p class="descripcion">
                                                <%= product.brands.name + ' ' + product.varietals.name + ' ' + product.qualities.name + ' ' + product.vintage + ' ' + product.displays.name %>
                                            </p>
                                        </div>
                                    </a>
                                    <div class="prod-items">
                                        <div class="menosMas">
                                            <button id='decrease' onclick="quantity(this)" value="decrease"><i class="fas fa-minus-circle"></i></button>
                                            <p class="cantidad" id="quantity" value="">1</p>
                                            <button id='increase' onclick="quantity(this)" value="increase"><i class="fas fa-plus-circle"></i></button>
                                        </div>
                                        <div class="precio">
                                            <h5 class="antes">
                                                <% if(product.discount != 0){ %>
                                                    <%= "$"+ product.price %>
                                                        <% } %>
                                            </h5>
                                            <h5 class="ahora">
                                                <%= '$'+ toThousand(product.price - (product.price * (product.discount / 100))) %>
                                            </h5>
                                        </div>
                                        <% if (typeof usuario == 'undefined'){ %>
                                            <a href="/users/loginRegister"><button class="btn-relleno">Agregar</button></a>
                                            <%}else{%>
                                                <form action="/products/cart" method="POST">
                                                    <input type="number" class="non-display" name="id" value="<%= product.id %>">
                                                    <input type="number" class="non-display" name="quantity" id="value_quantity" value="1">
                                                    <input type="number" class="non-display" name="user_id" value="<%= usuario.id %>">
                                                    <button type="submit" id="btn-agregarProd" class="btn-relleno">Agregar</button>
                                                    <%}%>
                                                </form>
                                    </div>
                                </article>
                                <% }}} %>
                        </section>
            </main>
            <%- include('../partials/footer')%>
    </body>

</html>