<%- include('../partials/head', {title: 'Listado de productos'})%>
    <link rel='stylesheet' href='/stylesheets/lista.css'>
    <link rel="stylesheet" href="/stylesheets/footer.css">


    <body class="fondoBeige">

        <%- include('../partials/header-admin')%>

            <main>
                <section class="contenedor">
                    <h1 class="titulo-seccion">LISTA DE PRODUCTOS</h1>
                    <article class="tablaProd">
                        <ul class="etiquetas border-bottom">
                            <li class="xxsmall">Id</li>
                            <li class="xsmall">Cat.</li>
                            <li class="small">Línea</li>
                            <li class="small">Varietal</li>
                            <li class="small">Calidad</li>
                            <li class="xsmall">Año</li>
                            <li class="medium">Presentación</li>
                            <li class="small">Precio</li>
                            <li class="xsmall">Dto</li>
                            <li class="large">Notas</li>
                            <li class="large">Maridaje</li>
                            <li class="xsmall">ºC</li>
                            <li class="large">Imagen</li>
                            <li class="large">Ficha</li>
                            <li class="small">Estado</li>
                            <li class="xsmall"><i class="fas fa-edit"></i></li>
                        </ul>

                        <% if(products != undefined){
                        for(var i = 0; i < products.length; i++){ %>
                            <ul class="etiquetas2 border-bottom">
                                <li class="xxsmall">
                                    <%= products[i].id %>
                                </li>
                                <li class="xsmall">
                                    <%= products[i].categories.name.slice(0,4) %>
                                </li>
                                <li class="small">
                                    <%= products[i].brands.name %>
                                </li>
                                <li class="small">
                                    <%= products[i].varietals.name %>
                                </li>
                                <li class="small">
                                    <%= products[i].qualities.name %>
                                </li>
                                <li class="xsmall">
                                    <%= products[i].vintage %>
                                </li>
                                <li class="medium">
                                    <%= products[i].displays.name %>
                                </li>
                                <li class="small">
                                    <%= products[i].price %>
                                </li>
                                <li class="xsmall">
                                    <%= products[i].discount %>
                                </li>
                                <li class="large">
                                    <%= products[i].tasting.slice(0,65) %>
                                </li>
                                <li class="large">
                                    <%= products[i].pairing.slice(0,65) %>
                                </li>
                                <li class="xsmall">
                                    <%= products[i].temperatures.value %>
                                </li>
                                <li class="large">
                                    <%= products[i].image %>
                                </li>
                                <li class="large">
                                    <%= products[i].datasheet %>
                                </li>
                                <li class="small">
                                    <%if (products[i].states.name == "activo"){%>
                                        <i class="fas fa-check-circle state_activo"></i>
                                        <%}else{%>
                                            <i class="fas fa-times-circle"></i>
                                            <% } %>
                                </li>
                                <a href="/products/edit/<%= products[i].id %>" class="xsmall"><i class="fas fa-edit"></i></a>
                            </ul>
                            <% }} %>
                    </article>
                    <article class="btn-centrado">
                        <a href="/products/add" class="btn-border-max">agregar producto</a>
                        <a href="/" class="btn-border-max">ir a Tienda</a>
                    </article>
                </section>
            </main>
            <footer>
            </footer>
    </body>

    </html>