<%- include('partials/head', {title: 'Tienda'})%>
    <link rel="stylesheet" href="/stylesheets/tienda.css">

    <body>
        <%- include('partials/header')%>
            <main>
                <div class="contenedor">
                    <!-- ENCABEZADO SECCION -->
                    <h1 class="titulo-seccion">TIENDA ONLINE</h1>
                    <section class="buscador-filtro-login">
                        <div class="buscador-filtro">
                            <form action="">
                                <input type="search"><i class="fas fa-search"></i>
                            </form>
                            <img src="/img/icon-filter.svg" alt="icono-filtrar">
                        </div>
                        <a href="/users/loginRegister" id="loginAccess">login</a>
                    </section>
                </div>

                <!-- SECCION BANNER -->
                <section class="banner">
                    <article class="img-flechas">
                        <img src="/img/img-promos.jpg" alt="promos">
                        <div class="cont-flechas">
                            <div class="flechas">
                                <i class="fas fa-angle-left"></i>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </article>
                    <article class="icon-circulo">
                        <ul>
                            <li><i class="fas fa-circle activo"></i></li>
                            <li><i class="fas fa-circle"></i></li>
                            <li><i class="fas fa-circle"></i></li>
                        </ul>
                    </article>
                </section>

                <!--  MENÚ LÍNEAS -->
                <nav class="lineas">
                    <a href="" class="border-bottom border-right">LÍNEA A</a>
                    <a href="" class="border-bottom border-right">LÍNEA B</a>
                    <a href="">LÍNEA C</a>
                </nav>

                <!-- PRODUCTOS -->
                <h3 class="subtitulo-seccion">PRODUCTOS DESTACADOS</h3>
                <section class="contenedor prod-destacados">
                    <% if (products != undefined){
                            for (var i= 0; i< products.length; i++) { 
                                var product = products[i];
                                console.log(product);
                        %>
                        <article class="producto border-bottom">
                            <a href="/products/detail/<%= product.id %>">
                                <div class="img-desc">
                                    <img src="/img/products/<%= product.image %>" alt="vino">
                                    <p class="descuento">
                                        <% if(product.discount != 0){ %>
                                            <%= product.discount + "%" %>
                                                <% } %>
                                    </p>
                                </div>
                                <div class="prod-items">
                                    <h6 class="categoria">
                                        <% for(let i = 0; i< categories.length; i++){
                                            var category = categories[i];
                                         if (product.category_id == category.id){
                                             var product_category = category.name }}%>
                                    </h6>
                                    <p class="descripcion">
                                        <% for(let i = 0; i< brands.length; i++){
                                            var brand = brands[i];
                                         if (product.brand_id == brand.id){
                                             var product_brand = brand.name }}%>
                                            <% for(let i = 0; i< varietals.length; i++){
                                             var varietal = varietals[i];
                                        if (product.varietal_id == varietal.id){
                                             var product_varietal = varietal.name }}%>
                                                <% for(let i = 0; i< qualities.length; i++){
                                                var quality = qualities[i];
                                           if (product.quality_id == quality.id){
                                                var product_quality = quality.name }}%>
                                                    <% for(let i = 0; i< displays.length; i++){
                                                    var display = displays[i];
                                               if (product.display_id == display.id){
                                                    var product_display = display.name }}%>
                                                        <%= product_brand + ' ' + product_varietal + ' ' + product_quality + ' ' + product.vintage + ' ' + product_display  %>
                                    </p>
                                    <div class="menosMas">
                                        <a href=""><i class="fas fa-minus-circle"></i></a>
                                        <p class="cantidad">1</p>
                                        <a href=""><i class="fas fa-plus-circle"></i></a>
                                    </div>
                                    <div class="precio">
                                        <h5 class="antes">
                                            <% if(product.discount != 0){ %>
                                                <%= "$"+ product.price %>
                                                    <% } %>
                                        </h5>
                                        <h5 class="ahora">
                                            <%= '$'+ toThousand(product.price - (product.price * (product.discount / 100))) %>
                                        </h5>
                                    </div>
                                    <a href="/products/cart" class="btn-relleno">Agregar</a>
                                </div>
                            </a>
                        </article>
                        <% }} %>
                </section>
            </main>
            <%- include('partials/footer')%>
    </body>

    </html>