<%- include('partials/head', {title: 'Tienda'})%>
    <link rel="stylesheet" href="/stylesheets/tienda.css">
    <script src="/javascript/user-front.js"></script>

    <body>
        <%- include('partials/header')%>
            <main>
                <div class="contenedor">
                    <!-- ENCABEZADO SECCION -->
                    <h1 class="titulo-seccion">TIENDA ONLINE</h1>
                    <section class="buscador-filtro-login">
                        <div class="buscador-filtro">
                            <form action="">
                                <input type="search"><i class="fas fa-search"></i>
                            </form>
                            <img src="/img/icon-filter.svg" alt="icono-filtrar">
                        </div>
                        <!--SI ENCUENTRA UNA SESION ABIERTA, MUESTRA MI CUENTA, SINO LOGIN-->
                        <% if(typeof usuario != "undefined"){ %>

                            <a href="/users/profile" id="loginAccess">Mi cuenta</a>

                            <% } %>

                                <% if(typeof usuario == "undefined"){ %>
                                    <a href="/users/loginRegister" id="loginAccess">login</a>
                                    <% } %>
                    </section>
                </div>

                <!-- SECCION BANNER -->
                <section class="banner">
                    <article class="img-flechas">
                        <img src="/img/img-promos.jpg" alt="promos">
                        <div class="cont-flechas">
                            <div class="flechas">
                                <i class="fas fa-angle-left"></i>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </article>
                    <article class="icon-circulo">
                        <ul>
                            <li><i class="fas fa-circle activo"></i></li>
                            <li><i class="fas fa-circle"></i></li>
                            <li><i class="fas fa-circle"></i></li>
                        </ul>
                    </article>
                </section>

                <!--  MENÚ LÍNEAS -->
                <nav class="lineas">
                    <a href="" class="border-bottom border-right">LÍNEA A</a>
                    <a href="" class="border-bottom border-right">LÍNEA B</a>
                    <a href="">LÍNEA C</a>
                </nav>

                <!-- PRODUCTOS -->
                <h3 class="subtitulo-seccion">PRODUCTOS DESTACADOS</h3>
                <section class="contenedor prod-destacados">
                    <% if (products != undefined){
                            for (var i= 0; i< products.length; i++) { 
                                var product = products[i];
                                console.log(product);
                        %>
                        <article class="producto border-bottom">
                            <a href="/products/detail/<%= product.id %>">
                                <div class="img-desc">
                                    <img src="/img/products/<%= product.image %>" alt="vino">
                                    <p class="descuento">
                                        <% if(product.discount != 0){ %>
                                            <%= product.discount + "%" %>
                                                <% } %>
                                    </p>
                                </div>
                                <div class="prod-items">
                                    <h6 class="categoria">
                                        <%= product.categories.name %>
                                    </h6>
                                    <p class="descripcion">
                                        <%= product.brands.name + ' ' + product.varietals.name + ' ' + product.qualities.name + ' ' + product.vintage + ' ' + product.displays.name %>
                                    </p>
                                    <div class="menosMas">
                                        <a href=""><i class="fas fa-minus-circle"></i></a>
                                        <p class="cantidad">1</p>
                                        <a href=""><i class="fas fa-plus-circle"></i></a>
                                    </div>
                                    <div class="precio">
                                        <h5 class="antes">
                                            <% if(product.discount != 0){ %>
                                                <%= "$"+ product.price %>
                                                    <% } %>
                                        </h5>
                                        <h5 class="ahora">
                                            <%= '$'+ toThousand(product.price - (product.price * (product.discount / 100))) %>
                                        </h5>
                                    </div>
                                    <form action="/products/cart/<%= product.id %>" method="POST">
                                        <input type="number" class="non-display" name="id" value="<%= product.id %>">
                                        <% if (typeof usuario == 'undefined'){ %>
                                            <a href="/users/loginRegister" class="btn-relleno">Agregar</a>
                                            <%}else{%>
                                                <input type="number" class="non-display" name="user_id" value="<%= usuario.id %>">
                                                <!-- traer cantidad -->
                                                <button type="submit" id="btn-agregarProd">Agregar</button>
                                                <%}%>
                                    </form>
                                </div>
                            </a>
                        </article>
                        <% }} %>
                </section>
                <div class="modal">
                    <h2>
                        <% if(typeof usuario != "undefined"){ %>
                            <%= '¡Hola ' + usuario.first_name + '!'%>
                                <% } %>
                    </h2>
                    <h4>Te logueaste con éxito. Ya podés</h4>
                    <a href="/" class="btn-border-max">comprar</a>
                </div>
            </main>

            <%- include('partials/footer')%>
    </body>

    </html>