<%- include('../partials/head', {title: 'Login'})%>
    <link rel='stylesheet' href='/stylesheets/user.css'>

    <body>
        <%- include('../partials/header')%>
            <main>
                <section class="contenedor">
                    <h1 class="titulo-seccion">INICIO DE SESIÓN</h1>
                    <div class="poesia">¿Estás preparada/o para descubrir un mundo <br>de poesía embotellada?</div>
                </section>
                <%- include('../partials/slider')%>
                    <section class="contenedor">
                        <h3 class="enunciado-mayor">Iniciá tu sesión</h3>
                        <% if(typeof errors != "undefined") { %>
                            <div class="errores">
                                <ul>
                                    <% for(var i = 0; i < errors.length; i++) { %>
                                        <li>
                                            <%= errors[i].msg %>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>
                            <% } %>
                                <form class="formLogin" method="POST">
                                    <div class="labelInput"> <label for="Correo electrónico *">Correo electrónico *</label>
                                        <input type="email" name="email" id="email"></div>
                                    <div class="labelInput">
                                        <label for=" Contraseña *"> Contraseña * <a href="">¿Olvidaste tu contraseña?</a></label>
                                        <input type="password" name="password" id="password">
                                    </div>
                                    <div class="check-button">
                                        <div class="recordarme">
                                            <label for="">Recordame</label>
                                            <input type="checkbox" name="recordame">
                                        </div>
                                        <button type="submit" id="login" class="btn-border-max">accedé</button>
                                    </div>
                                </form>
                                <% if(typeof errorAlLoguear != "undefined"){ %>
                                    <h4 class="errores">
                                        <%= errorAlLoguear %>
                                    </h4>
                                    <% } %>
                    </section>
            </main>
            <%- include('../partials/footer')%>
    </body>

    </html>