<%- include('../partials/head', {title: 'Perfil de Usuario'})%>
    <link rel='stylesheet' href="/stylesheets/profile.css">

    <body>
        <%- include('../partials/header')%>
            <main>
                <section class="contenedor">
                    <h2 class="titulo-seccion">perfil de usuario</h2>
                    <section class="profile-content">
                        <i class="fas fa-user icon-user"></i>
                        <h3 class="user border-bottom">
                            <%=usuario.first_name + ' ' + usuario.last_name%>
                        </h3>
                        <article class="data-user">
                            <ul>
                                <div class="items">
                                    <label for="birthdate"><span>Fecha de Nacimiento: </span><%=usuario.birthdate%></label>
                                </div>
                                <div class="items">
                                    <label for="address"><span>Dirección: </span> <%=usuario.address%></label>
                                </div>
                                <div class="items">
                                    <label for="town"><span>Localidad: </span><%=usuario.town%></label>
                                </div>
                                <div class="items">
                                    <label for="country"><span>País: </span><%=usuario.country%></label>
                                </div>
                                <div class="items">
                                    <label for="email"><span>Email: </span> <%=usuario.email%></label>
                                </div>
                            </ul>
                        </article>
                        <article class="profile-btn">
                            <a href="/"><button class="btn-border-max"><< ir a la tienda</button></a>
                            <a href="/users/profile/edit/<%= usuario.id%>"><button class="btn-border-max">editar perfil</button></a>
                        </article>
                    </section>
                </section>
            </main>
            <%- include('../partials/footer')%>
    </body>

    </html>