<%- include('../partials/head', {title: 'Registro'})%>
    <link rel='stylesheet' href='/stylesheets/register.css'>

    <body>
        <%- include('../partials/header')%>
            <main>
                <section class="contenedor">
                    <h1 class="titulo-seccion">INICIO DE SESIÓN</h1>
                    <div class="poesia">¿Estás preparada/o para descubrir un mundo <br>de poesía embotellada?</div>
                </section>
                <div class="slider">
                    <img src="/img/slider_register.jpg">
                </div>
                <section class="contenedor">
                    <h3 class="enunciado-mayor">Completá tu registro</h3>
                    <% if(typeof errors != "undefined") { %>
                        <ul>
                            <% for(var i = 0; i < errors.length; i++) { %>
                                <li>
                                    <%= errors[i].msg %>
                                </li>
                                <% } %>
                        </ul>
                        <% } %>
                            <form class="formLogin" action="/users/register" method="POST">
                                <div class="labelInput">
                                    <label for="first_name">Nombre *</label>
                                    <input type="text" name="first_name" id="first_name" required>
                                </div>
                                <div class="labelInput">
                                    <label for="last_name">Apellido *</label>
                                    <input type="text" name="last_name" id="last_name" required>
                                </div>
                                <div class="labelInput">
                                    <label for="birthdate">Fecha de Nacimiento *</label>
                                    <input type="date" name="birthdate" id="birthdate" required>
                                </div>
                                <div class="labelInput">
                                    <label for="address">Dirección *</label>
                                    <input type="text" name="address" id="address" required>
                                </div>
                                <div class="labelInput">
                                    <label for="town">Localidad *</label>
                                    <input type="text" name="town" id="town" required>
                                </div>
                                <div class="labelInput">
                                    <label for="country">País *</label>
                                    <select id="country" required name="country">
                                    " <!-- <option value="" disabled selected>Selecciona tu país</option> -->
                    <option value="argentina">Argentina</option>
                    <option value="brasil">Brasil</option>
                    <option value="bolivia">Bolivia</option>
                    <option value="chile">Chile</option>
                    <option value="colombia">Colombia</option>
                    <option value="ecuador">Ecuador</option>
                    <option value="paraguay">Paraguay</option>
                    <option value="perú">Perú</option>
                    <option value="uruguay">Uruguay</option>
                    </select>
                                </div>

                                <div class="labelInput">
                                    <label for="email">Correo electrónico *</label>
                                    <input type="email" name="email" id="email" required>
                                </div>
                                <div class="labelInput">
                                    <label for="password">Contraseña * <a href="">¿Olvidaste tu contraseña?</a></label>
                                    <input type="password" name="password" id="password" required>
                                </div>
                                <label for="">Recordame</label>
                                <input type="checkbox" name="recordame">
                                <button type="submit" id="registro" class="btn-border-max">registrate</button>
                            </form>
                </section>
                <div class="modal">
                    <h2>
                        <% if(typeof usuario != "undefined"){ %>
                            <%= '¡Hola ' + usuario.first_name + '!'%>
                                <% } %>
                    </h2>
                    <h4>Te logueaste con éxito. Ya podés</h4>
                    <a href="/" class="btn-border-max">comprar</a>
                </div>
            </main>
            <%- include('../partials/footer')%>
    </body>

    </html>